{% extends 'base.html.twig' %}
{% block body %}
    <header>
        <nav>
            <a href="/" id="logo">
                <img src="{{ asset('img/logo.png') }}" />
                <span>HOMETALENT</span>
                <span>Live Different</span>
            </a>
            <div class="social">
                <a class="facebook" target="_blank" href="https://www.facebook.com/hometalentCH">
                    <img src="{{ asset('img/facebook.png') }}"/>
                </a>
                <a class="instagram" target="_blank" href="https://www.instagram.com/hometalent.ch">
                    <img src="{{ asset('img/instagram.png') }}"/>
                </a>
                <a class="twitter" target="_blank" href="https://twitter.com/HometalentCh">
                    <img src="{{ asset('img/twitter.png') }}"/>
                </a>
            </div>
            <form action="{{ path('set_language') }}" id="select-lang" method="post" onChange="this.submit();">
                <input type="radio" id="en" name="language" {% if "en" == app.request.getLocale() %} checked="checked"{% endif %} value="en"/><label for="en">EN</label>|
                <input type="radio" id="fr" name="language" {% if "fr" == app.request.getLocale() %} checked="checked"{% endif %} value="fr"/><label for="fr">FR</label>
            </form>
        </nav>
    </header>
    <section>
        <div id="content">
            <h1>{% trans %}Services entre particuliers{% endtrans %}</h1>
            <h2>{% trans %}VOUS MANQUEZ DE TEMPS ? <br/> FAITES APPEL À NOS TALENTS ET DÉTENDEZ VOUS !{% endtrans %}</h2>
            <p>{% trans %}Avant le lancement, partagez nous vos besoins ! (service ou job){% endtrans %}</p>
            <a id="call-to-action" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSc1R_Fj_mPTB4TEla3ZUmtnELPavJUmqQ-PQiXDlzrAfUCQgw/viewform?usp=sf_link">{% trans %}Mes Besoins!{% endtrans %}</a>
        </div>
    </section>
    <footer>
        <div id="contact">
            <h3>{% trans %}Nous contacter{% endtrans %}</h3>
            <p>{% trans %}Une question, un avis ou juste un petit message. Nous vous répondrons avec plaisir !{% endtrans %}</p>
            <span class="social">
                <a class="facebook" target="_blank" href="https://www.facebook.com/hometalentCH">
                    <img src="{{ asset('img/fb-black.png') }}"/>
                </a>
                <a class="instagram" target="_blank" href="https://www.instagram.com/hometalent.ch">
                    <img src="{{ asset('img/insta-black.png') }}"/>
                </a>
                <a class="twitter" target="_blank" href="https://twitter.com/HometalentCh">
                    <img src="{{ asset('img/twit-black.png') }}"/>
                </a>
            </span>
            <form method="post" action="{{ path('homepage') }}">
                {{ form_row(contact_form.name) }}
                {{ form_row(contact_form.email) }}
                {{ form_row(contact_form.message) }}
                {{ form_rest(contact_form) }}
                {{ form_row(contact_form.send) }}
            </form>
        </div>
    </footer>
    {{ parent() }}
{% endblock %}